<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Curso</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        Título: <input type="text" name="titulo" 
            placeholder="Digite o título do curso." value="<%=curso.titulo%>"><br>

        Descrição: <input type="text" name="descricao" 
            placeholder="Digite a descriçao do curso." value="<%=curso.descricao%>"><br>

        Carga horaria: <input type="text" name="cargahoraria" 
            placeholder="Digite sua senha!" value="<%=curso.cargahoraria%>"><br>
            
        Data de início: <input type="date" name="datainicio" 
            placeholder="Digite sua senha!" value="<%=curso.datainicio%>"><br>
                
        Logo: <input type="file" name="logo"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>